<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<!-- <app-dashboard class="main-wrap-dashboard"></app-dashboard> -->

        <div class="dashboard-content">
                
            <h4>Welcome to Dashboard</h4>
            <span>Nothing to show here yet</span>
        </div>

