@import "./../../assets/css/variable.scss";
@import "./../../assets/css/color.scss";



.dashboard-content {
    width: calc(100% - 220px);
    display: inline-block;
    padding: 160px;

    h4 {
        font-size: 40px;
        color: $blue;
        font-family: 'Arial';
        margin-bottom: 45px;
        line-height: 1;

        // @media screen and (max-width:800px) {
        //     font-size: 28px;
        //     margin-bottom: 30px;
        // }

        // @media screen and (max-width:500px) {
        //     font-size: 24px;
        //     margin-bottom: 15px;
        // }
        // @media screen and (max-width:360px) {
        //     font-size: 20px;
        // }
    }
    span {
        color: $blue;
        font-size: 20px;

        // @media screen and (max-width:800px) {
        //     font-size: 16px;
        // }
        // @media screen and (max-width:500px) {
        //     font-size: 12px;
        // }
        // @media screen and (max-width:360px) {
        //     font-size: 10px;
        // }
    }
}
