<!-- <app-dashboard></app-dashboard> -->
<div class="action-manager">
    <aside class="action-manager-left">
      <div class="device">
        
      </div>
      <div class="device-name">
        <p>Beacon 15</p>
      </div>
    </aside>
  
    <div class="action-manager-canvas">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
          <div class="card text-white device-card">
            <img src="./../../assets/images/card.png" class="card-img img-fluid" alt="...">
          <div class="action-card-img-text">
            <p class="card-text">Action 1<span>Multiimage</span></p>
        </div>
        <div class="card-footer action-card-footer">
          <a href="#">SHARE</a>
        </div>
      </div>
    </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-12">
          <div class="plus-sign-block">
            <!-- <a href="#" class="plus-sign"></a> -->
             <!-- Button trigger modal -->
  <button class="plus-sign" data-toggle="modal" data-target="#actionAdd">
      
    </button>
        </div>
    </div>
    </div>
  
      <!-- Modal -->
    <div class="modal fade" id="actionAdd" tabindex="1" role="dialog" aria-labelledby="actionAddTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <ul>
              <li class="action-image"><a href="#">Image</a></li>
              <li class="action-movie"><a [routerLink]="['/trigger']" data-dismiss="modal" >Movie</a></li>
              <li class="action-multiimage"><a href="#">Multiimage</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
