@import "./../../assets/css/variable.scss";
@import "./../../assets/css/color.scss";


.action-manager {
    display: inline-block;
    width: calc(100% - 220px);
    vertical-align: top;

    .action-manager-left {
        background:$shade-blue;
        width: 100%;
        max-width: 220px;
        height: 100vh;
        padding: 30px;
        position: relative;
        float: left;

        .device {
            width: 40px;
            height: 40px;
            background:$white;
            border-radius: 50%;
            position: relative;   
        }
        .device-name {
            margin-top: 30px;

            p {
                color:$white;
                font-family: "Arial";
                font-weight: normal;
                transition: 0.3s ease-in-out all;
                font-size: 10px;
            }
        }
    }

    .action-manager-canvas {
        width: calc(100% - 440px);
        padding: 30px;
        float: left;

        .device-card {
            border: none;
            border-radius: 0;
            position: relative;
            .card-text {
                font-size: 10px;
                font-weight: bold;
                font-family: 'Arial';
                display: block;
                color: $blue;
                span {
                    display: block;
                }
            }
            .action-card-footer {
                border: none;
                text-align: right;
                padding: 15px 30px;
                background: $light-blue;

                a {
                    color: $blue;
                    font-family: 'Arial';
                    font-weight: bold;
                    font-size: 10px;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .action-card-footer:last-child,.card-footer:last-child {
                border-radius: 0;
            } 
            .action-card-img-text {
                position: absolute;
                top: 30px;
                left: 30px;
            }
        }
        .device-card:last-child {
            border-radius: 0;
        }
        .plus-sign-block{
            width: 100%;
            text-align: center;
        .plus-sign {
            display: inline-block;
            width: 40px;
            height: 40px;
            background: #2699FB;
            border-radius: 50%;
            margin: auto;
            position: relative;
            border: none;
        }
        .plus-sign::before {
            content: "";
            position: absolute;
            width: 2px;
            height: 16px;
            background: #fff;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
        .plus-sign::after {
            content: "";
            position: absolute;
            width: 16px;
            height: 2px;
            background: #fff;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
    }
    #actionAdd {

        .modal-dialog {

            .modal-content {
                border: none;
                border-radius: 0;

                .modal-body {
                    padding: 0;

                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        text-align: center;

                        li {
                            padding: 15px;

                            a {
                                display: block; 
                                color: $white;
                            }                            
                            a:hover {
                                text-decoration: none;
                            }

                        }
                        
                        .action-image {
                            background: $blue;
                        }
                        .action-image:hover, .action-movie:hover, .action-multiimage:hover {
                            opacity: 0.8;
                        }
                        .action-movie {
                            background: $blue2;
                        }
                        
                        .action-multiimage {
                            background: $blue3;
                        }
                    }
                }
            }
        }
    }

}