<div class="trigger-wrap">
    <div class="trigger-info">
        <h4>Movie</h4>
        <p>Add Trigger and Overlay for Movie action</p>
    </div>
    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"> <img src="./../../assets/images/trigger-user.png" class="img-fluid" alt=""> </span>
            </div>
            <input type="text" class="form-control trigger-required" placeholder="Trigger required" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"> <img src="./../../assets/images/trigger-user.png" class="img-fluid" alt=""> </span>
                </div>
                <input type="text" class="form-control trigger-required" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
        </form>
</div>