@import "./../../assets/css/variable.scss";
@import "./../../assets/css/color.scss";


.trigger-wrap {
	float: right;
	width: 100%;
    max-width: 495px;
    background: $trigger-blue;
    border: 1px solid $grey;
    height: 100vh;
    padding: 30px;

    .trigger-info {

        margin-bottom: 60px;

        h4 {
            font-size: 14px;
            font-weight: bold;
            color: $blue;
            margin-bottom: 15px;
            font-family: 'Arial';
        }
        p {
            font-size: 14px;
            color: $blue;
            font-family: 'Arial';
        }
    }
    form {

        .input-group {

        .input-group-prepend {
            width: 50px;

            #basic-addon1 {
                border-radius: 0;
                padding: 18px;
                border: none;
                background: $blue;
            }
        }
        .trigger-required {
            height: 50px;
            border: 1px solid $light-blue;
            border-left: 0;
        }
        .trigger-required:focus, .trigger-required:hover {
            box-shadow: none;
        }
        .trigger-required::placeholder {
            color: $light-blue;
            font-weight: bold;
            opacity: 0.7;
            font-size: 14px;
        }
    }
    }
    
}