@import "./../../assets/css/variable.scss";
@import "./../../assets/css/color.scss";

.login-wrap {
	display: inline-block;
    width: 100%;
    padding: 20px;
    .login-form-parent {
        @media screen and (max-width:767px) {
            margin-top: 30px;
        }
    }

    .login-left-image {
        .img-fluid {
            width: 100% !important; // required to override the css of bootstrap
        }
    }
    .login-form {
        width: 100%;
        max-width: 350px;
        margin: auto;
        h4 {
            font-size: 20px;
            font-family: "Arial";
            font-weight: bold;
            margin-bottom: 30px;
            color: $blue;
        }
         label {
            font-size: 14px;
            color: $blue;
            font-weight: bold;
        }
        .login-input {
            font-size: 14px;
            background: #F1F9FF;
            border: 2px solid $light-blue;
            font-weight: bold;
            padding: 20px;
            color: $blue;
            border-radius: 10px;
            
            .red-text{
                color:red;
              }
        }
        .form-group {
            margin-bottom: 10px;
        }
        .login-input:focus {
            box-shadow: none;
        }
        .login-input::placeholder {
            font-size: 14px;
            color:$blue;
            opacity: 0.5;
        }
        .login-check {
            margin-top: 20px;
        
            .lgn-btn {
                text-transform: uppercase;
                font-size: 10px;
                font-weight: bold;
                padding: 10px 30px;
                border-radius: 4px;
                border: 2px solid $light-blue;
                background: transparent;
                color: $blue;
                transition: 0.5s ease-in-out all;
            }
            .lgn-btn:hover {
                background: $blue;
                border: 2px solid $light-blue;
                color: $white;
            }
        }
    }
}
