<div class="login-wrap">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="login-left-image">
                <img class="img-fluid" src="./../../assets/images/Video.jpg" alt="" >
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="login-form-parent" ng-controller="formCtrl">
                <form class="login-form" novalidate>
                    <h4>Login Mina CMS</h4>
                    <div class="form-group">
                      <label for="exampleInputEmail1" class="">Email</label>
                      <input type="text" class="form-control login-input" placeholder="Your Email"
                      ng-model="email" id="eml" type="text" ng-pattern="eml_add" ng-required="true" autocomplete="off">
                      
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1" class="">Password</label>
                      <input type="password" class="form-control login-input" placeholder="Your Password">
                    </div>
                    
                    <div class="login-check">
                        <button type="button" (click)="login()" class="btn lgn-btn">login</button>
                    </div>
                      
                    
                  </form>
            </div>
        </div>
    </div>
</div>
