@charset "utf-8";

/* Color css */

/* Main color variable name */

    $white: #fff;    
    $green: #01be3f;
    $black: #000;
    $light-yellow: #f9ffd9;
    $footer-border: #2D2D2D;
    $pricing-bg: #F7F7F7;
    $blue: #2699FB;
    $light-blue: #BCE0FD;
    $shade-blue: rgba(38, 153, 251, 0.65);
    $blue2:rgba(38, 153, 251, 0.88);
    $blue3:rgba(38, 153, 251, 0.71);
    $grey:#707070;
    $trigger-blue: #F1F9FF;
body {
    background-color: $white;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: $font-normal-nhaas-pro;
}
