<!-- <router-outlet></router-outlet> -->

<div class="main-canvas">
    <app-side-menu style="width:100%; max-width:220px; display: inline-block; vertical-align: top;" *ngIf="test"></app-side-menu>
    <router-outlet></router-outlet>
    
</div>