@import "./../../assets/css/variable.scss";
@import "./../../assets/css/color.scss";


 .dashboard {
 	display: flex;
 	flex-direction: row;

    .dashboard-left {
        background: $blue;
        width: 100%;
        max-width: 220px;
        height: 100vh;
        padding: 30px;
        position: relative;

        @media screen and (max-width:500px) {
            max-width: 150px;
        }
        @media screen and (max-width:360px) {
            max-width: 150px;
            padding: 20px;
        }

        .user-profile {
            width: 40px;
            height: 40px;
            background: $white;
            border-radius: 50%;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
        }
    .dashboard-menu {
        display: inline-block;
        list-style: none;
        text-align: left;
        padding: 0;
        
        li {
            margin-top: 30px;

            a {
                color: $white;
                font-family: "Arial";
                font-weight: normal;
                transition: 0.3s ease-in-out all;
                font-size: 10px;
            }
            a:hover {
                text-decoration: none;
                opacity: 0.8;
            }
        }
    }
    .dashboard-social-media {
        display: inline-block;
        width: 100%;
        list-style: none;
        position: absolute;
        bottom: 45px;
        left: 30px;
        margin: 0;

        @media screen and (max-width:360px) {
            left: 20px;
        }

        ul{
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                padding-right: 20px;

                @media screen and (max-width:360px) {
                    padding-right: 15px;
                }

                a {
                    color: $white;
                    font-size: 18px;
                }
            }
            li:last-child {
                padding-right: 0;
            }
        }
    }
}

}

   
   
