
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="dashboard">
    <aside class="dashboard-left">
        <div class="user-profile">
            <img src="./../../assets/images/User.svg" alt="" />
        </div>
        <ul class="dashboard-menu">
            <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
            <li><a href="#">Asset Manager</a></li>
            <li><a href="#">Beacon Manager</a></li>
            <li><a href="#">Map Manager</a></li>
            <li><a [routerLink]="['/action-manager']" >Action Manager</a></li>
        </ul>
        <div class="dashboard-social-media">
            <ul>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </aside>
</div>


